input[type=text]:focus {outline:none;}

.search-bar {
    margin: 0px 30px;
    margin-top: 20px;
}

.search {
    width: 100%;
    color: #f2f2f2;
    font-family: 'Belanosima', sans-serif;
    box-sizing: border-box;
    border: 2px solid #36393e;
    border-radius: 12px;
    font-size: 16px;
    background-color: #181b1d;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
}

.blog-stream {
    margin: auto;
    padding: 0px 30px;
}

.blog-card {
    cursor: pointer;
    background-color: #181b1d;
    border: solid 2px #36393e;
    margin: 20px 0;
    padding: 10px;
    border-radius: 15px;
}

.blog-card p {
    margin: 0px;
    font-size: 20px;
    margin-top: 10px;
}

.blog-card h2 {
    margin-top: 0;
}

.tags {
    margin: 10px 0;
}

.tags span {
    font-weight: bold;
    background-color: #8C52FF;
    margin-right: 5px;
    border-radius: 5px;
    padding: 2px;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author img {
    border-radius: 50%;
    margin-right: 20px;
}

.author div {
    line-height: 1.2;
}

.author div span {
    display: block;
}

.publication-date {
    font-size: 0.9em;
    margin: 0px;
    padding: 5px;
    padding-left: 0px;
}

.publication-date span {
    font-weight: bold;
    background-color: #121416;
    border-radius: 5px;
    padding: 2px;
}

@media (max-width: 580px) {
    .search-bar {
        margin: 0px 0px;
    }

    .blog-stream {
        padding: 0px 0px;
    }
}