body {
    margin: 0;
    padding: 0;
}

article {
    max-width: 900px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
    font-size: 18px;
}

.footnote {
    border-top: 2px solid #36393e;
}

.footnote p {
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
    color: #cccccc;
}

header {
    border-bottom: solid 2px #36393e;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h1 {
    font-size: 2em;
    color: #ffffff;
}

.social-share-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.share-button {
    font-weight: bold;
    font-size: 1rem;
    color: #f2f2f2;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.share-button.copy {
    background-color: transparent;
    border: solid 2px #36393e;
}

.share-button.copy:hover {
    background: #36393e;
    border: solid 2px #999999;
}

.share-button.facebook {
    background-color: #26375c;
    border: solid 2px #3b5998;
}

.share-button.facebook:hover {
    background-color: #3b5998;
    border: solid 2px #6595fc;
}

.share-button.x {
    background-color: #000000;
    border: solid 2px #474747;
}

.share-button.x:hover {
    background-color: #212121;
    border: solid 2px #696969;
}

.author-info {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    background-color: #181b1d;
    border: solid 2px #36393e;
    padding: 10px;
    border-radius: 15px;
}

.author-info a img {
    width: 24px;
    height: 24px;
    margin: 0px;
}

.author-info img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 15px;
}

.author-info div p {
    margin: 5px 0;
    color: #dcdcdc;
}

h2 {
    margin-top: 20px;
    color: #f5f5f5;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #e0e0e0;
}

code {
    background-color: #181b1d;
    color: #f8f8f8;
    padding: 2px 4px;
    border-radius: 4px;
}

strong {
    color: #ffffff;
}