.timestamp-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center content horizontally */
    margin: 0px auto;
    max-width: 600px; /* Adjust the max-width as needed */
}

.copy-button {
    font-family: 'Belanosima', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: #f2f2f2;
    border: solid 2px #36393e;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.copy-button:hover {
    color: #f2f2f2;
    background: #36393e;
    border: solid 2px #999999;
}

.tool-holder {
    padding-top: 50px;
    min-height: 680px;
    display: flex;
    margin: 0 40px;
    justify-content: center;
    position: relative;
    align-items: center; /* Align items vertically */
}

.tool-text {
    text-align: center;
    font-size: 20px;
}

.tool-output {
    font-size: 20px;
}

.tool-output span {
    background-color: #181b1d;
    border-radius: 5px;
    padding: 2px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #8C52FF;
    text-decoration-style: solid;
    text-decoration-thickness: 2px
}

.tool-container {
    position: absolute;
    top: 50%;
    border-radius: 20px;
    background-color: #181b1d;
    padding: 30px;
    border: solid 2px #36393e;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #181b1d;
    border: solid 2px #36393e;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

/* Responsiveness */
@media (max-width: 1200px) {
    .tool-holder {
        margin: 0 0px;
    }
}

@media (max-width: 744px) {
    .tool-text {
        font-size: 15px;
    }

    .tool-output {
        font-size: 15px;
    }

    .tool-holder h2 {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .tool-container {
        padding: 0px;
    }
}